<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base.settings">

    <application>
        <activity
            android:name=".DialerSettings"
            android:label="@string/title_activity_d_main_setting"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>